/* Responsabilidade do arquivo: Estilos globais (body, a, button, etc.) */

body{
    background:var(--color-background);
    color:var(--color-text);
    font-family:var(--font-body);
    line-height:1.6;
    -webkit-font-smoothing:antialiased;
}

h1,
h2,
h3,
h4{
    font-family:var(--font-title);
    font-weight:700;
}

html{
    scroll-behavior:smooth;
}